<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>CJ LearningNotes</title>
    <th:block th:replace="~{fragment/fragment :: cjLearning_head}"/>

</head>
<body>

<div style="height: 56px">
    <div class="bg-primary fixed-top" style="height: 56px">
        <div class="py-2 d-flex justify-content-around ">
            <button type="button" class="btn btn-dark mr-5" id="cjArticle_viewbtn">查看</button>
            <!--        <button type="button" class="btn btn-default  btn-" id="cjArticleAdd_clobtn">关闭</button>-->
            <!--        <button type="button" class="btn btn-dark mr-5" id="cjArticleAdd_subbtn">保存</button>-->
            <button type="button" class="btn btn-dark mr-5" id="cjArticle_subbtn">保存</button>
        </div>
        <!--    <div class="p-3 mb-2 bg-info text-white"> </div>-->
    </div>
</div>
<!--以下为创建和更新页面 create / update-->

<div class="card shadow mb-4">
    <!--  <div class="card-header">

      </div>-->
    <div class="card-body">
        <form class="form-horizontal">
            <input type="hidden" name="cjArticleCategoryId" class="form-control"
                   th:value="${cjArticleObject.categoryId}"
                   id="cjArticleCategoryId">
            <input type="hidden" name="cjArticleId" class="form-control" th:value="${cjArticleObject.id}"
                   id="cjArticleId">

            <div class="form-group row">
                <label class="col-sm-2 control-label text-center">
                    <button class="btn btn-primary" type="button">
                        标题
                    </button>
                </label>
                <div class="col-sm-10">
                    <input type="text" name="cjArticleAddName" class="form-control" id="cjArticleAddName"
                           th:value="${cjArticleObject.name}">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-center">
                    <button class="btn btn-primary" type="button">
                        描述
                    </button>
                </label>
                <div class="col-sm-10">
                        <textarea class="form-control" name="cjArticleAddDesc" id="cjArticleAddDesc" rows="3"
                                  th:text="${cjArticleObject.articleDesc}"></textarea>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-center">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                        显示分类
                    </button>
                </label>
                <div class="collapse col-sm-10" id="collapseExample">
                    <div class="d-flex justify-content-center">
                        <ul id="cjArticleCategoryTree" class="ztree"></ul>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-center">
                    <textarea name="cjArticleAddContent" class="form-control" id="cjArticleAddContent"
                              th:text="${cjArticleObject.content}"></textarea>
                <span class="help-block"></span>
            </div>
        </form>
    </div>
    <!--    <div class="card-footer ">-->
    <!--    </div>-->
</div>


<th:block th:replace="~{fragment/fragment :: cjLearning_js}"/>
<script>
    var cjzTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        callback: {//回调函数设置
            onClick: cjzTreeonClick,
        },
        check: {
            //显示为radio
            // enable: true,
            // chkStyle: "radio"
        },
        data: {
            key: {
                name: "name",//节点显示名称
                title: "categoryDesc",//鼠标悬浮在节点时，提示内容
                //zTree 节点数据保存节点链接的目标 URL 的属性名称。默认值为node的属性："url"
                //设置为空，则点击时无反应
                url: "",
                isParent: "isParent"//节点是否为父节点
            },
            simpleData: {
                enable: true,//采用simpleData
                idKey: "id",
                pIdKey: "pid",
                rootPId: "1"//设置rootPid
            }
        },
        edit: {
            enable: true,
            showRemoveBtn: false,//不显示删除按钮
            showRenameBtn: false,//不显示重命名按钮
            drag: {
                prev: true,
                next: true,
                inner: true
            }

        },
        view: {
            // dblClickExpand: false,//双击节点时，是否自动展开父节点的标识
            selectedMulti: false//设置是否允许同时选中多个节点。
        }
    };


    $(function () {
        //初始化ckeditor
        cjCKEditor01 = CKEDITOR.replace($("#cjArticleAddContent")[0], {
            width: '100%',
            extraPlugins: 'codesnippet',
            codeSnippet_theme: 'monokai_sublime',
        });

        $("#cjArticle_subbtn").on("click", function () {
            // console.log($("#cjArticleCategoryId").val());
            // console.log($("#cjArticleId").val());
            var cjArticleId = $("#cjArticleId").val();
            if (cjArticleId != "") {//代表为update操作
                var cjUpdateData = {
                    "id": cjArticleId,
                    "name": $("#cjArticleAddName").val(),
                    "articleDesc": $("#cjArticleAddDesc").val(),
                    "content": CKEDITOR.instances.cjArticleAddContent.getData(),
                    "categoryId": $("#cjArticleCategoryId").val()
                };

                $.ajax({
                    url: "/article",
                    method: "put",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(cjUpdateData),
                    success: function (result) {
                        alert("updateArticle success");
                        window.self.close();
                    },
                    error: function () {
                        alert("updateArticle 失败,清理管理员");
                    }
                });
            } else {
                var cjAddData = {
                    "name": $("#cjArticleAddName").val(),
                    "articleDesc": $("#cjArticleAddDesc").val(),
                    "content": CKEDITOR.instances.cjArticleAddContent.getData(),
                    "categoryId": $("#cjArticleCategoryId").val()
                };

                $.ajax({
                    url: "/article",
                    method: "post",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(cjAddData),
                    success: function (result) {
                        alert("createArticle success");
                        window.self.close();
                    },
                    error: function () {
                        alert("createArticle 失败,清理管理员");
                    }
                });
            }

        });
        $("#cjArticle_viewbtn").on("click", function () {
            window.location.href = '/article/' + $("#cjArticleId").val();
        });

        /*
      * 初始化zTree
      * */
        $.ajax({
            url: "/article/category/getAll",
            method: "get",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {

                //zNodes = eval(data.menuAll);
                zNodes = result.data;
                //初始化
                cjzTreeObj = $.fn.zTree.init($("#cjArticleCategoryTree"), setting, zNodes);

                cjzTreeObj.expandAll(true); //展开树


            },
            error: function () {
                alert("/article/category/getList 获取 categories 失败，无法初始化ztree,请联系理管理员");
            }
        });


    })

    /*当显示分类时触发事件*/
    $('#collapseExample').on('show.bs.collapse', function () {
        var cjSelectNodes = cjzTreeObj.getNodesByParam("id", $("#cjArticleCategoryId").val(), null);
        if(cjSelectNodes.length>0){
            //console.log(cjSelectNodes[0]);
            cjzTreeObj.selectNode(cjSelectNodes[0]);
        }
    });

    function cjzTreeonClick(event, treeId, treeNode) {//单机分类，右侧展示分类下的文章
        $("#cjArticleCategoryId").val(treeNode.id);
        console.log( "新选中的分类Id: "+ $("#cjArticleCategoryId").val());
        };
</script>
</body>

</html>
